.showCartButton {
  width: 125px;
  height: 65px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  background-color: #7BAA3C;
  color: #FFFFFF;
  border: 1px solid #7BAA3C;
  border-radius: 5px;
  /* Additional styles here */
}