.homeButton {
	border: 1px solid red;
	width: 125px; 
	height: 65px;
	background-color: #003E33;
	color: #FFFFFF;
}

.search {
	margin-left: 50px;
	width: 900px;
	height: 65px; 
}

.showCartButton {
	width: 125px;
	height: 65px;
	background-color: #7BAA3C;
	color: #FFFFFF;
}